/* texts */

body {
    background-image: url('media/index/crumpled paper.jpeg');
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 96px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: -50px;
}

h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    white-space: nowrap;
}

h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 6.5em;
}

h5 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    white-space: nowrap;
    margin-left: 8em;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-left: 7em;
}

h6 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 28px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 4em;
    margin-bottom: 0;
}

h6:hover {
    color: #ffffff;
}

h7 {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    margin-left: 9em;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #CE6449;
    padding: 10px;
}

@media (max-width: 700px) {
    #nav {
        display: flex;
        justify-content: space-between;
        background-color: #CE6449;
        margin-right: -6em;
    }
    h6 {
        margin-left: 1em;
    }
    h7 {
        margin-left: 2em;
    }
}

#bottomnav {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: #CE6449;
    margin-top: 20em;
    padding: 10px;
}

@media (max-width: 700px) {
    #bottomnav {
        display: flex;
        justify-content: space-between;
        background-color: #CE6449;
        margin-right: -6em;
    }
    h6 {
        margin-left: 1em;
    }
}
  
.sub {
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 7em;
}

.sub .link-item {
    width: 50px;
    height: 50px;
    position: relative; 
}

.outfits::before {
    content: url('media/nav/orange coat.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.outfits:hover::before {
    content: url('media/nav/orange coat color.svg');
}

.music::before {
    content: url('media/nav/guitar.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.music:hover::before {
    content: url('media/nav/guitar color.svg');
}

.careers::before {
    content: url('media/nav/hair turban color.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.recipe::before {
    content: url('media/nav/cookie.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.recipe:hover::before {
    content: url('media/nav/cookie color.svg');
}

/* main */

.container {
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center;
    height: 100vh; 
    background-image: 
        url('media/yellow stripes.png');
    background-size: 
        contain;
}

.text {
    background-image: 
        url('media/careers/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80vw
}

@media (max-width: 700px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 16px;
    }
    .container {
        background-repeat: no-repeat, repeat;
        background-size: 
            cover,
            500px; 
    }
}

.massagetherapist {
    margin-left: 12em;
    margin-top: 20em;
    padding: 10px 0;
}

.firstnote {
    position: absolute;
    margin-left: -8em;
    margin-top: -21em;
    z-index: 2;  
    width: 1500px;
    pointer-events: none;
}

.firsttape {
    position: absolute;
    margin-left: -36em;
    margin-top: -20em;
    z-index: 2;  
    width: 1800px;
    pointer-events: none;
}

@media (max-width: 700px) {
    
    .massagetherapist {
        margin-left: 8em;
        margin-top: 20em;
    }
    
    .firstnote {
        position: absolute;
        margin-left: -8em;
        margin-top: -15em;
        z-index: 2;  
        pointer-events: none;
        width: 1000px;
    }
    
    .firsttape {
        position: absolute;
        margin-left: -26em;
        margin-top: -14em;
        z-index: 2;  
        width: 1300px;
        pointer-events: none;
    }

      .massagetherapist iframe {
        height: 300px;
        width: 450px;
    }

    h4 {
        margin-left: 0em;
    }
}

.telemarketer {
    margin-left: 43em;
    margin-top: 20em;
}

.secondnote {
    position: absolute;
    margin-left: -47em;
    margin-top: -6em;
    z-index: 2;  
    width: 1500px;
    pointer-events: none;
}

.secondtape {
    position: absolute;
    margin-left: -36em;
    margin-top: -20em;
    z-index: 2;  
    width: 1800px;
    pointer-events: none;
}

@media (max-width: 700px) {
    
    .telemarketer {
        margin-left: 8em;
        margin-top: 20em;
    }
    
    .secondnote {
        position: absolute;
        margin-left: -30em;
        margin-top: 1em;
        z-index: 2;  
        pointer-events: none;
        width: 1000px;
    }
    
    .secondtape {
        position: absolute;
        margin-left: -26em;
        margin-top: -14em;
        z-index: 2;  
        width: 1300px;
        pointer-events: none;
    }

      .telemarketer iframe {
        height: 300px;
        width: 450px;
    }
}

.officesecretary {
    margin-left: 12em;
    margin-top: 20em;
}

.thirdnote {
    position: absolute;
    margin-left: -8em;
    margin-top: -6em;
    z-index: 3;  
    width: 1500px;
    pointer-events: none;
}

.thirdtape {
    position: absolute;
    margin-left: -39em;
    margin-top: -20em;
    z-index: 2;  
    width: 1850px;
    pointer-events: none;
}

@media (max-width: 700px) {
    
    .officesecretary {
        margin-left: 8em;
        margin-top: 20em;
    }
    
    .thirdnote {
        position: absolute;
        margin-left: -8em;
        margin-top: 0em;
        z-index: 3;  
        pointer-events: none;
        width: 1000px;
    }
    
    .thirdtape {
        position: absolute;
        margin-left: -26em;
        margin-top: -14em;
        z-index: 2;  
        width: 1300px;
        pointer-events: none;
    }

      .officesecretary iframe {
        height: 300px;
        width: 450px;
    }

    h4 {
        margin-left: 0em;
    }
}

.setextra {
    margin-left: 30em;
    margin-top: 20em;
}

.fourthnote {
    position: absolute;
    margin-left: -47em;
    margin-top: -17em;
    z-index: 3;  
    width: 1500px;
    pointer-events: none;
}

.fourthtape {
    position: absolute;
    margin-left: -39em;
    margin-top: -20em;
    z-index: 2;  
    width: 1850px;
    pointer-events: none;
}

@media (max-width: 700px) {
    
    .setextra {
        margin-left: 0em;
        margin-top: 20em;
    }
    
    .fourthnote {
        position: absolute;
        margin-left: -27em;
        margin-top: -7em;
        z-index: 2;  
        pointer-events: none;
        width: 1000px;
    }
    
    .fourthtape {
        position: absolute;
        margin-left: -26em;
        margin-top: -14em;
        z-index: 2;  
        width: 1300px;
        pointer-events: none;
    }

      .setextra iframe {
        height: 300px;
        width: 450px;
    }

    h5 {
        margin-left: 0em;
    }
}
