/* texts */

body {
    background-image: url('media/index/crumpled paper.jpeg');
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 96px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: -50px;
}

h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin-left: 3em;
    margin-right: 30em;
    background-image: url('media/index/purple-washi.png');
    background-size: cover;                   
    padding: 5px;
    width: 145px;
}

h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin-left: 7em;
    background-image: url('media/index/purple-washi.png');
    background-size: cover;                   
    padding: 5px;
    width: 200px; 
    white-space: nowrap;
}

h5 {
    font-family: "Work Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin-right: 35em;
    background-image: url('media/index/purple-washi.png');
    background-size: cover;                   
    padding: 5px;
    width: 200px;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-left: 7em;
}

p2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    line-height: 3;
    margin-bottom: 60px;
}

h6 {
    font-family: "Nothing You Could Do", sans-serif;
    font-weight: normal;
}

.typewriter h6 {
    font-size: 24px;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em;
    animation: typing 5s steps(30, end) infinite, blink-caret .5s step-end infinite;
    text-align: center;
    position: relative;
    background-color: unset !important;
    color: unset !important;
  }

  @keyframes typing {
    0% {
      width: 0
    }
    50% {
      width: 100%
    }
  }  

.one {
    transform: rotate(12deg);
    margin-top: -13em;
    margin-bottom: 15em;
    text-indent: 21em;
}

.two {
    transform: rotate(-12deg);
    margin-top: -15em;
    margin-bottom: 5em;
    margin-left: -28em;
}

/* nav */

h6 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 28px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 4em;
    color: #ffffff;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #D5B3FF;
}

@media (max-width: 700px) {
    #nav {
        display: flex;
        justify-content: space-between;
        background-color: #D5B3FF;
        margin-right: -6em;
    }
    h6 {
        margin-left: 1em;
    }
}

#bottomnav {
    display: flex;
    justify-content: space-between;
}
  
.sub {
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 7em;
}

.sub .link-item {
    width: 50px;
    height: 50px;
    position: relative; 
}

.outfits::before {
    content: url('media/nav/orange coat.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.outfits:hover::before {
    content: url('media/nav/orange coat color.svg');
}

.music::before {
    content: url('media/nav/guitar.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.music:hover::before {
    content: url('media/nav/guitar color.svg');
}

.careers::before {
    content: url('media/nav/hair turban.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.careers:hover::before {
    content: url('media/nav/hair turban color.svg');
}

.recipe::before {
    content: url('media/nav/cookie.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.recipe:hover::before {
    content: url('media/nav/cookie color.svg');
}

/* main */

.legos {
    width: 150px;    
    height: auto;
    margin-left: 9.5em;
    position: relative;
    top: 4.5em;
}

.image2 {
    width: 800px;    
    height: auto;
    margin-left: 38em;
    position: absolute;
    margin-top: 100px;
}

.image3 {
    width: 600px;    
    height: auto;
    margin-left: 5em;
    position: absolute;
    margin-top: -150px;
}

.image4 {
    width: 600px;    
    height: auto;
    margin-left: 10em;
    position: absolute;
    margin-top: -200px;
}

.image5 {
    width: 800px;    
    height: auto;
    margin-left: 35em;
    position: absolute;
    margin-top: -100px;
}

@media (max-width: 700px) {
    .image2 {
        width: 400px;    
        height: auto;
        margin-left: 10em;
        position: absolute;
        margin-top: 30em;
    }
    
    .image3 {
        width: 500px;    
        height: auto;
        margin-left: 5em;
        position: absolute;
        margin-top: 50px;
    }
    
    .image4 {
        width: 400px;    
        height: auto;
        margin-left: 10em;
        position: absolute;
        margin-top: 300px;
    }
    
    .image5 {
        width: 600px;    
        height: auto;
        margin-left: 2em;
        position: absolute;
        margin-top: 600px;
    }

    p2 {
        padding: 0px;
        height: 100vh; 
        margin-right: -4em;
        margin-left: -4em;
    }

    .tape2 {
        width: 100px;    
        height: auto;
        margin-left: 30em;
        position: relative;
        top: 6em;
    }
    
    .tape3 {
        width: 400px;    
        height: auto;
    }
    
    .tape4 {
        width: 100px;    
        height: auto;
        margin-left: -10em;
        margin-top: 5em;
    }
}

.tape2 {
    width: 800px;    
    height: auto;
    margin-left: 30em;
    position: relative;
    top: 6em;
}

.tape3 {
    width: 1100px;    
    height: auto;
}

.tape4 {
    width: 800px;    
    height: auto;
    margin-left: 30em;
    margin-top: 5em;
}

.container {
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center;
    height: 100vh; 
    background-image: 
        url('media/yellow pattern.png');
    background-size: 
        900px;
}

.text {
    background-image: 
        url('media/index/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80vh
}

@media (max-width: 700px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 16px;
    }
    .container {
        background-repeat: no-repeat, repeat;
        background-size: 
            cover,
            500px; 
    }
}

.container2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100vh;  
    margin-top: 15em;
}

.container3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10em;
    margin-left: 45em;
    height: 60vh; 
    margin-top: 10em;
}

.container4 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100vh; 
    margin-right: 10em;
    margin-left: 10em;
}

.hearts {
    width: 600px;
    height: auto;
    margin-left: 42em;
    position: absolute;
    animation: wiggle 0.5s ease-in-out infinite;
  }

  @keyframes wiggle {
    0% {
        transform: rotate(0deg); /* Start at normal position */
    }
    25% {
        transform: rotate(5deg); /* Rotate slightly to the right */
    }
    50% {
        transform: rotate(0deg); /* Return to original position */
    }
    75% {
        transform: rotate(-5deg); /* Rotate slightly to the left */
    }
    100% {
        transform: rotate(0deg); /* Return to normal position */
    }
}

.lobster {
    width: 600px;
    height: auto;
    margin-left: 50em;
    margin-top: -30em;
    position: absolute;
    animation: wiggle 0.5s ease-in-out infinite;
  }

  @keyframes wiggle {
    0% {
        transform: rotate(0deg); /* Start at normal position */
    }
    25% {
        transform: rotate(5deg); /* Rotate slightly to the right */
    }
    50% {
        transform: rotate(0deg); /* Return to original position */
    }
    75% {
        transform: rotate(-5deg); /* Rotate slightly to the left */
    }
    100% {
        transform: rotate(0deg); /* Return to normal position */
    }
}


  