/* texts */

body {
    background-image: url('media/index/crumpled paper.jpeg');
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 96px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: -50px;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-left: 7em;
}

/* nav */

h6 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 28px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 4em;
    margin-bottom: 0;
}

h6:hover {
    color: #ffffff;
}

h7 {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    margin-left: 9em;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #D2D562;
    padding: 10px;
}

@media (max-width: 700px) {
    #nav {
        display: flex;
        justify-content: space-between;
        background-color: #D2D562;
        margin-right: -6em;
    }
    h6 {
        margin-left: 1em;
    }
}

#bottomnav {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: #D2D562;
    margin-top: 20em;
    padding: 10px;
}

@media (max-width: 700px) {
    #bottomnav {
        display: flex;
        justify-content: space-between;
        background-color: #D2D562;
        margin-right: -6em;
    }
    h6 {
        margin-left: 1em;
    }
    h7 {
        margin-left: 2em;
    }
}
  
.sub {
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 7em;
}

.sub .link-item {
    width: 50px;
    height: 50px;
    position: relative; 
}

.outfits::before {
    content: url('media/nav/orange coat.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.outfits:hover::before {
    content: url('media/nav/orange coat color.svg');
}

.music::before {
    content: url('media/nav/guitar color.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.careers::before {
    content: url('media/nav/hair turban.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.careers:hover::before {
    content: url('media/nav/hair turban color.svg');
}

.recipe::before {
    content: url('media/nav/cookie.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.recipe:hover::before {
    content: url('media/nav/cookie color.svg');
}

/* main */

.container {
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center;
    height: 100vh; 
    background-image: 
        url('media/yellow pattern.png');
    background-size: 
        900px;
}

.text {
    background-image: 
        url('media/music/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80vw
}

@media (max-width: 700px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 16px;
    }
    .container {
        background-repeat: no-repeat, repeat;
        background-size: 
            cover,
            500px; 
    }
}

.greenstickynote {
    margin-left: 30em;
    margin-top: 20em;
    margin-bottom: 20em;
    width: 600px;  
    height: 100%;
}

@media (max-width: 700px) {
    .greenstickynote {
        margin-left: 10em;
        margin-top: 10em;
        width: 400px;
        height: 100%;
    }
}

.smellycat {
    width: 500px;    
    height: 100%;
    margin-left: 50em;
    transition: 500ms; 
}

.smellycat:hover { 
    transform: scale(1.5); 
    transition: 500ms; 
}

@media (max-width: 700px) {
    .smellycat {
        width: 300px;    
        height: 100%;
        margin-left: 20em;
        margin-top: 10em;
        transition: 500ms; 
    }
}

.christmassong {
    width: 400px;    
    height: auto;
    margin-left: 15em;
    margin-top: 5em;
    transition: 500ms; 
    overflow: hidden !important;
}

.christmassong:hover { 
    transform: scale(1.5); 
    transition: 500ms;
}

@media (max-width: 700px) {
    .christmassong {
        width: 250px;    
        height: 100%;
        margin-left: 10em;
        margin-top: 10em;
        transition: 500ms; 
    }
}

.stickyshoes {
    width: 300px;    
    height: auto;
    margin-left: 60em;
    transition: 500ms;
}

.stickyshoes:hover { 
    transform: scale(1.5); 
    transition: 500ms;
    }

@media (max-width: 700px) {
    .stickyshoes {
        width: 200px;    
        height: 100%;
        margin-left: 20em;
        margin-top: 10em;
        transition: 500ms; 
    }
}

.yourlove {
    width: 200px;    
    height: auto;
    margin-left: 35em;
    /* margin-top: -10em; */
    transition: 500ms;
}

.yourlove:hover { 
    transform: scale(1.5); 
    transition: 500ms;
    }
    
@media (max-width: 700px) {
    .yourlove {
        width: 150px;    
        height: 100%;
        margin-left: 10em;
        margin-top: 5em;
        transition: 500ms; 
    }
}

.twoofthemkissedlastnight {
    width: 150px;    
    height: auto;
    margin-left: 60em;
    /* margin-top: 20em; */
    transition: 500ms;
}

.twoofthemkissedlastnight:hover { 
    transform: scale(1.5); 
    transition: 500ms;
}

@media (max-width: 700px) {
    .twoofthemkissedlastnight {
        width: 100px;    
        height: 100%;
        margin-left: 20em;
        margin-top: 5em;
        transition: 500ms; 
    }
}