/* texts */

body {
    background-image: url('media/index/crumpled paper.jpeg');
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 96px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: -50px;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-left: 7em;
}

/* nav */

h6 {
    font-family: "Nothing You Could Do", sans-serif;
    font-size: 28px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 4em;
    margin-bottom: 0;
}

h6:hover {
    color: #ffffff;
}

h7 {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    margin-left: 9em;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #FDB054;
    padding: 10px;
}

h7 {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    margin-left: 9em;
}

#bottomnav {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: #FDB054;
    padding: 10px;
}

.sub {
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 7em;
}

.sub .link-item {
    width: 50px;
    height: 50px;
    position: relative; 
}

.phoebebuffay {
    text-decoration: none;
}

.outfits::before {
    content: url('media/nav/orange coat color.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.music::before {
    content: url('media/nav/guitar.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.music:hover::before {
    content: url('media/nav/guitar color.svg');
}

.careers::before {
    content: url('media/nav/hair turban.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.careers:hover::before {
    content: url('media/nav/hair turban color.svg');
}

.recipe::before {
    content: url('media/nav/cookie.svg');
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.recipe:hover::before {
    content: url('media/nav/cookie color.svg');
}

/* main */

.container {
    display: flex; 
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center;
    height: 100vh; 
    background-image: 
        url('media/yellow stripes.png');
    background-size: 
        900px;
}

.text {
    background-image: 
        url('media/outfits/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80vw
}

#mosaicgallerygrid {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 30em;
    margin-bottom: 50em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .regulartile {
        grid-column: span 2;
    }

    .bigtile {
        grid-column: span 4;
        
    }

    }

/* mobile */

@media screen and (max-width: 47.99rem){
#mosaic-gallery-grid{
    display: block;
}

.tile{
    margin-bottom: 1rem;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #FDB054;
    margin-right: -6em;
}

#bottomnav {
    display: flex;
    justify-content: space-between;
    background-color: #FDB054;
    margin-right: -6em;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 16px;
}
.container {
    background-repeat: no-repeat, repeat;
    background-size: 
        cover,
        500px; 
}

h6 {
    margin-left: 1em;
}

h7 {
    margin-left: 2em;
}
}